* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 img {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    opacity: 0.5;
    transform: scale(0.8);
 }
 img:hover {
    opacity: 1;
    transform: scale (1);
    transition: 0.5s;
 }