img {
    width: 250px;
}
.Blur {
    filter: blur(5px);
}
.Grayscale {
    filter: grayscale(100%);
}
.Sepia {
    filter: sepia(100%);
}
.Invert {
    filter: invert(100%);
}
.Contrast {
    filter: contrast(200%);
}
.Opacity {
    filter: opacity(50%);
}