div {
    height: 150px;
    width: 150px;
}
body {
    display: grid;

   grid-template-columns: 30% 30% 30%;
   grid-template-rows: auto 25% auto;

   height: 100vh;
   gap: 10px;
}

    .caixa1, .caixa2, .caixa3, .caixa4{
    background-color: blue;
}

    .caixa5, .caixa6, .caixa7, .caixa8{
    background-color: green;
}

    .caixa9, .caixa10, .caixa11, .caixa12{
    background-color: yellow;
}
