/*CSS*/
a {
    background-color: lightcyan;
    padding: 7px;
    text-decoration: none;
    border: 7px;
    color: black;
}
img {
    opacity: 0.5;
    transform: scale (1.5);
}
a:hover {
    background-color: cyan;
    color: red;
    padding: 15px;
    font-size: 50px;
}
p:hover {
    color: green
}
img:hover {
    opacity: 1;
    transform: scale (1);
    transition: 0.5;
}